body {
    background: #e7e7e7;
}

#title  {
    color: #1f1f1f;
    text-align: center;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    color: #1f1f1f;
    text-align: center;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

div.images {
    max-width: 500px;
    max-height: 600px;
    border: 3px;
    border-style: solid;
    border-color: #a0a0a0;
    margin-right: auto;
    margin-left: auto;
}

#insta {
    text-align: center;
    color: coral;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}